 <form class="form-horizontal" role="form" name="updateTargets" id="updateTargets" novalidate ng-submit="subUpdateTargets(updateTargets.$valid)">
 <div class="assignbox"><h4><b>Team Name:</b> {{reachedtargets.name}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>Month Start:</b> {{reachedtargets.target_period}}</h4></div>
<div style="padding: 15px">
<table align="center" width="100%">
                                            <tr>
                                            <th style="padding:5px 10px">Month</th>
                                            <th style="padding:5px 10px">Target</th>
                                            <th style="padding:5px 10px">Previous Reached</th>
                                            <th style="padding:5px 10px">Present </th>
                                            <th style="padding:5px 10px">Total Reached</th>
                                            <th style="padding:5px 10px">Last Updated</th>
                                            </tr>
                                            <tr ng-repeat="mon in reachedtargets.months.split('*')">
                                            <td height="40px">{{mon}}</td>
                                            <td align="right">{{reachedtargets.targets.split('*')[$index]}}</td>
                                            <td align="right" style="padding-left:10px">{{reachedtargets.reached_targets.split('*')[$index]}}</td>
                                            <td align="right" style="padding-left:10px">
                                            <input type="text" ng-init="reachedtargets.reached[$index]=0" ng-model="reachedtargets.reached[$index]" ng-change="getTotal()" only-digits ng-required="true" ng-pattern="/^[1-9][0-9]*$/"/></td>
                                            <td align="right">{{(reachedtargets.reached_targets.split('*')[$index]-0)+(reachedtargets.reached[$index]-0)}}</td>
                                            <td align="right">{{reachedtargets.target_updated_date_time.split('*')[$index]!=0 ? reachedtargets.target_updated_date_time.split('*')[$index] : ''}}</td>
                                            </tr>
                                            <tr>
                                            <th><b>Total</b></th>
                                            <td align="right">{{reachedtargets.total_target}}</td>
                                            <td align="right">{{ reachedtargets.reached_target}}</td>
                                            <!--<td></td>
                                            <td></td>-->
                                            </tr>
                                            <tr>
                                            <th><b>Treasury</b></th>
                                            <td align="right">{{reachedtargets.sales_target}}</td>
                                            <td align="right"><input type="text" ng-model="reachedtargets.sales_target_new" only-digits ng-required="true" ng-pattern="/^[1-9][0-9]*$/"/><br />
                                            </td>
                                            <td colspan="3" align="right">{{reachedtargets.sales_target_updated_date}}</td>
                                            </tr>
                                            <tr>
                                            <th><b>Bonus</b></th>
                                            <td align="right">{{reachedtargets.bonus}}</td>
                                            <td align="right"><input type="text" ng-model="reachedtargets.bonus_new" only-digits ng-required="true" ng-pattern="/^[1-9][0-9]*$/"/><br />
                                            </td>
                                            <td colspan="3" align="right">{{reachedtargets.bonus_updated_date}}</td>
                                            </tr>
                                            </table>
                                            </table>

                                        <div class="col-lg-offset-5 col-md-offset-5">
                                            <button type="submit" name="sub" id="sub" class="btn btn-blue">Update</button> <button type="reset" id="resetbtn" name="resetbtn" class="btn btn-red" ng-click="confirm(1)">Cancel</button>
                                        </div>
                                        <br />
                                        <br />
</form>
</div>