.error
{
    margin: 0px;
    line-height:10px;
    color: #D95C5C;
    font-size: 11px;
    position: absolute;
}
.has-error
{
    border: 1px solid #D95C5C !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.usercss
{
	background-color: white;
	padding: 5px;
	margin: 5px 5px;
	height: 31px !important;
	color: #2dc3e8;
}

.acctitle
{
    color: blue;
}

.statushead
{
    background-color: #046067;
    color: white;
    padding: 3px;
    margin: 0px;
}

.nopad
{
    padding: 0px !important;
}

.statusbody
{
    padding: 5px;
}
.assignbox
{
    border: 1px solid #427fed;
    padding: 0px;
    margin: 0px;
}
.assignbox h4
{
    background-color: #427fed;
    padding:5px;
    margin:0px;
    color:white;
}

.assignbody
{
    padding: 10px;
}

.ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
    margin-top: -100px;
    padding: 0px;
    min-width: 800px;
}
.ngdialog.ngdialog-theme-default.custom-width-900 .ngdialog-content {
    width: 900px;
}